.nav-bar-container {
    background-color: #37ab3c;
    padding: 75px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 200px;
    max-height: 100%;
    max-width: 100%;
    font-size: large;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.nav-bar-container ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar-container ul li a:hover {
    text-decoration: underline;
    color: black;
}

.nav-buttons-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-buttons-left ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-logo-div {
    border-radius: 100%;
    border: 2px solid rgb(30, 140, 0);
    width: 250px;
    height: 250px; /* Always Make sure to match the dimensions of the div element to the img. */
    overflow: hidden;
}
#nav-logo-div img {
    height: 250px;
    width: auto;
}

.nav-buttons-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-buttons-right ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-container {
    background-image: url('../assets/sign2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero-text-overlay {
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 20px;
    /* border-radius: 10px; */
}

#hero-text-overlay p {
    margin: 0;
    font-size: large;
}

.order-container {
    background-color: white;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.order-container h1 {
    margin: 0;
    font-size: 36px;
    color: rgb(30, 140, 0);
}

.order-container button {
    background-color: #37ab3c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.order-container button:hover {
    background-color: #2e8b2f;
}

.image-grid-top-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0px;
    background-color: #37ab3c;
}

.image-grid-top-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
}

.menu-container img {
    width: 50%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.qna-container {
    background-color: #f9f9f9;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.qna-container h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.qna-container p {
    margin: 0;
    font-size: 20px;
    color: #555;
}

.image-grid-bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0px;
    background-color: #37ab3c;
    max-width: 100%;
    max-height: auto;
}

.image-grid-bottom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cater-form-container {
    background-color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 20px;
}

.cater-form-container h1 {
    margin: 0;
    font-size: 28px;
    color: #37ab3c;
    /* gap: 20px; */
}

.cater-form-container a {
    text-decoration: none;
    color: rgb(109, 255, 119);
    font-weight: bold;
}

.cater-form-container a:hover {
    text-decoration: underline;
    color: orange;
}

.careers-container {
    background-color: rgba(255, 255, 255, 0.905);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 20px;
}

.careers-container h1 {
    margin: 0;
    font-size: 28px;
    color: #37ab3c;
    /* gap: 20px; */
}

.careers-container a {
    text-decoration: none;
    color: rgb(109, 255, 119);
    font-weight: bold;
}

.careers-container a:hover {
    text-decoration: underline;
    color: orange;
}

.socials-container {
    max-width: 100%;
    background-color: #37ab3c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 50px 20px;
}

.socials-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0px;
    max-width: 50%;
    max-height: auto;
    gap: 0px;
    justify-items: center;
    align-items: center;
}

.socials-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#instagram-button {
    border-radius: 100%;
    width: 60px;
    height: 60px; /* Always Make sure to match the dimensions of the div element to the img. */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37ab3c;
}

#instagram-button img {
    width: 50px;
    height: 50px;
}

.footer-container {
    background-color: #2e8b2f;
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 14px;
}